

#titulo{
    font-size: 60pt;
    font-weight: bold;
}
#sinopsis{
    text-align: justify;
    padding: 20px 600px 20px 5px;
    text-transform: none;
}

li{
    text-transform: capitalize;
    
}

img{
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}