<section id='resultados' *ngIf="showMePartially">
  <a href="../juegos/juegos.component.html">
      <div class='juego-cuadro'>
          <img src="https://firebasestorage.googleapis.com/v0/b/continentalbase.appspot.com/o/coversJuegos%2Fcover-last-guardian.jpg?alt=media&token=3631f5d9-1cb5-48c3-97e7-90acb0b843b0">
          <div class='juego-titulo'>
              
          </div>
      </div>
  </a>
  <a href="#">
      <div class='juego-cuadro'>
          <img src="https://firebasestorage.googleapis.com/v0/b/continentalbase.appspot.com/o/coversJuegos%2Fcover-last-guardian.jpg?alt=media&token=3631f5d9-1cb5-48c3-97e7-90acb0b843b0">
          <div class='juego-titulo'>
              
          </div>
      </div>
  </a>
  <a href="#">
      <div class='juego-cuadro'>
          <img src="https://firebasestorage.googleapis.com/v0/b/continentalbase.appspot.com/o/coversJuegos%2Fcover-last-guardian.jpg?alt=media&token=3631f5d9-1cb5-48c3-97e7-90acb0b843b0">
          <div class='juego-titulo'>
              The Last Guardian
          </div>
      </div>
  </a>
  <a href="#">
          <div class='juego-cuadro'>
              <img src="https://firebasestorage.googleapis.com/v0/b/continentalbase.appspot.com/o/coversJuegos%2Fcover-last-guardian.jpg?alt=media&token=3631f5d9-1cb5-48c3-97e7-90acb0b843b0">
              <div class='juego-titulo'>
                  The Last Guardian
              </div>
          </div>
      </a>
      <a href="#">
          <div class='juego-cuadro'>
              <img src="https://firebasestorage.googleapis.com/v0/b/continentalbase.appspot.com/o/coversJuegos%2Fcover-last-guardian.jpg?alt=media&token=3631f5d9-1cb5-48c3-97e7-90acb0b843b0">
              <div class='juego-titulo'>
                  The Last Guardian
              </div>
          </div>
      </a>
      <a href="#">
          <div class='juego-cuadro'>
              <img src="https://firebasestorage.googleapis.com/v0/b/continentalbase.appspot.com/o/coversJuegos%2Fcover-last-guardian.jpg?alt=media&token=3631f5d9-1cb5-48c3-97e7-90acb0b843b0">
              <div class='juego-titulo'>
                  The Last Guardian
              </div>
          </div>
      </a>
</section>
