*{
    margin: 0;
    padding: 0;
    outline: none;
    background-color: #132C3C;

}

#titulo{
    margin-top: 100px;
    font-size: 90px;
    text-align: center;
    color: white;
    font-family: rubik;
}

#busqueda{
    margin-top: 50px;
    text-align: center;
}

#cuadrob{
    font-size: 50px;
    text-align: center;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0 20px;
    display: block;
    margin: 0 auto;
    font-family: roboto;
    color: white;
}

#botonb{
    margin-top: 25px;
    font-size: 20px;
}

#resultados{
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.juego-cuadro{
    display: inline-block;
    margin: 65px;
    box-shadow: 0 0 5px 0 white;
    height: 300px;
}

.juego-cuadro img{
    height: 300px;
}

.juego-titulo{
    text-align: center;
    color: white;
    box-shadow: 0 0 10px .5px white;
    font-family: rubik;
    font-size: 20px;
    font-weight: 400;
    padding: 5px;
}

.juego-cuadro:hover{
    cursor: pointer;
    opacity: .7;
}

footer{
    text-align: center;
    font-size: 25px;
    color: white;
    margin-top: 30px;
    vertical-align: middle;
    background: #16252C;
    box-shadow: 0 0 15px 0px black;
    padding: 25px;
    font-family: rubik;
    
}	



