*{
    margin: 0;
    padding: 0;
    outline: none;
    background-color: #132C3C;

}

footer{
    text-align: center;
    font-size: 25px;
    color: white;
    margin-top: 20%;
    vertical-align: middle;
    background: #16252C;
    box-shadow: 0 0 15px 0px black;
    padding: 25px;
    font-family: rubik;
}	